!.gitignore
node_modules
.parcel-cache
artifacts
dist
app/__config.json
cache
.cache

node_modules
.env
coverage
coverage.json
typechain

#Hardhat files
cache
artifacts

node_modules
.env
coverage
coverage.json
typechain

#Hardhat files
cache
artifacts
